
.divClass{
    display: block;
    
    width: 500px;
    background-color : yellow;
    margin-left: auto;
    margin-right: auto;


}
.ulClass{
    font-size: 25px;
    color: red;
}

#imgId{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

a:visited{
    color: green;
}

